@font-face {
  font-family: 'ProductSans';
  src: local('ProductSans'), url(./assets/fonts/product-sans/Product\ Sans\ Regular.ttf) format('truetype');
}

*{
  font-family: 'ProductSans';
}

.App {
  width: 100vw;
  height: 100vh;
}