.container {
  display: flex;
  justify-content: space-between;
}
.image {
  height: 400px;
  width: 400px;
  top: 290px;
  left: 290px;
}

.profie-score-btn{
 margin-top: 20px;
  margin-left: 900px;
}
